@import url("https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&display=swap");
:root {
  --pink: rgb(255, 99, 185);
}

body {
  font-family: "Fredoka";
  margin: 0;
}

section {
  padding: 2em;
}

.hero {
  padding: 0;
}
.hero .container {
  display: flex;
  flex-direction: column;
  align-content: center;
  background-image: url("/images/TitlePageBackground.png");
  padding: 40px;
}
.hero .logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 25%;
  min-width: 300px;
}
.hero .gameplay-trailer {
  display: flex;
  align-content: center;
  margin: auto;
  padding: 20px;
  max-width: 100%;
}
.hero .gameplay-trailer video {
  max-width: 100%;
  height: auto;
}
.hero .steam-cta {
  align-content: center;
  margin: auto;
  padding: 1em 0;
}
.hero .button1 {
  display: flex;
  max-width: 100%;
  align-content: center;
  font-weight: bold;
  margin: auto;
  text-align: center;
  display: inline-flex;
  background-color: var(--pink);
  padding: 8px 16px;
  font-size: clamp(20px, 3vw, 40px);
  border-radius: 8px;
  font-family: "Fredoka";
  color: white;
  font-style: normal;
  text-transform: uppercase;
  cursor: pointer;
  border: 0cap;
}

.features-section {
  background-color: rgb(51, 54, 58);
  color: white;
  align-items: center;
}
.features-section .container {
  max-width: 960px;
  display: flex;
  flex-direction: column;
  align-content: center;
  margin: auto;
}
.features-section .container .section-heading {
  display: flex;
  margin: auto;
  font-size: 2em;
}
.features-section .container .feature-info {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: minmax(0, 1fr);
  align-content: center;
  justify-content: center;
  padding: 1em 1em;
}
.features-section .container .feature-info video {
  margin: auto;
  display: inline;
  -o-object-fit: cover;
     object-fit: cover;
  grid-column: auto;
  align-items: center;
  width: 90%;
  height: auto;
}
.features-section .container .feature-info .right-text {
  text-align: center;
  grid-column: 2;
  padding: 20px;
  margin: auto;
  display: block;
  align-content: center;
  font-size: 1.5em;
}
.features-section .container .feature-info .left-text {
  text-align: center;
  padding: 20px;
  grid-column: 1;
  margin: auto;
  display: block;
  align-content: center;
  font-size: 1.5em;
}

.discord-section {
  background-color: white;
  color: rgb(51, 54, 58);
  align-items: center;
}
.discord-section .container {
  display: flex;
  flex-direction: column;
  align-content: center;
  margin: auto;
  padding: 20px;
}
.discord-section .container .section-heading {
  color: rgb(51, 54, 58);
  display: flex;
  margin: auto;
  font-size: 2em;
  text-align: center;
}
.discord-section .container .discord-link {
  margin: auto;
  display: flex;
  flex-direction: column;
  align-content: center;
  font-size: clamp(16px, 4vw, 22px);
  text-align: center;
}
.discord-section .container .discord-link p {
  max-width: 640px;
  padding: 20px 0;
}
.discord-section .container .discord-link div {
  display: flex;
  margin: auto;
}
.discord-section .container .discord-link .discord-embed {
  margin: auto;
}

.copyright {
  display: inline;
  margin: auto;
  align-content: center;
  text-align: center;
}

@media only screen and (max-width: 768px) {
  .features-section .container .feature-info {
    display: grid;
    grid-auto-flow: row;
    grid-auto-columns: minmax(0, 1fr);
  }
  .features-section .container .feature-info video {
    grid-row: auto;
  }
  .features-section .container .feature-info .right-text {
    grid-column: 1;
  }
}/*# sourceMappingURL=main.css.map */